<form class="needs-validation pt-3 " novalidate="" id="action-call">
    <div class="row px-2 py-3 ">
        <div class="col-md-4">

            <div class="mb-3">
                <label class="form-label" for="feedback">Feedback</label>
                <select class="form-select" id="feedback" value="18-07-2022" required="">
                    <option value="Posetive"> PosetivePosetive</option>
                    <option value="BusyPosetive">Negetive</option>
                </select>
                <div class="invalid-feedback">
                    Please provide a valid entry.
                </div>
            </div>

       
           
        </div>
        <div class="col-md-4">

            <div class="mb-3">
                <label class="form-label" for="installed_demo">Installed demo</label>
                <select class="form-select" id="installed_demo" value="" required="">
                    <option value="Yes"> Yes</option>
                    <option value="No">No</option>
                </select>
                <div class="invalid-feedback">
                    Please provide a valid entry.
                </div>
            </div>

       
           
        </div>
        <div class="col-md-4">

            <div class="mb-3">
                <label class="form-label" for="training">Training</label>
                <select class="form-select" id="training" value="" required="">
                    <option value="Yes"> Yes</option>
                    <option value="No">No</option>
                </select>
                <div class="invalid-feedback">
                    Please provide a valid entry.
                </div>
            </div>

       
           
        </div>
        <div class="col-md-4">

            <div class="mb-3">
                <label class="form-label" for="asked_questions">Asked questions</label>
                <select class="form-select" id="asked_questions" value="Detalled" required="">
                    <option value="Detalled"> Detalled</option>
                    <option value="Detalled">Detalled</option>
                </select>
                <div class="invalid-feedback">
                    Please provide a valid entry.
                </div>
            </div>

            

       
           
        </div>
        <div class="col-md-4">

            <div class="mb-3">
                <label class="form-label" for="attended_seminars">Attended seminars</label>
                <select class="form-select" id="attended_seminars" value="Detalled" required="">
                    <option value="Yes"> Yes</option>
                    <option value="No">No</option>
                </select>
                <div class="invalid-feedback">
                    Please provide a valid entry.
                </div>
            </div>

          

       
           
        </div>
        <div class="col-md-4"></div>

        <div class="col-md-4">

            

            <div class="mb-3">

                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="asked_about_minimum
                    account" required>
                    <label class="form-check-label" for="asked_about_minimum
                    account">Asked about minimum
                        account</label>
                </div>
            </div>

       
           
        </div>

        <div class="col-md-4">

            
            <div class="mb-3">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="asked_about_ commission" required>
                    <label class="form-check-label" for="asked_about_ commission">Asked about commission</label>
                </div>
            </div>

       
           
        </div>

        <div class="col-md-12">

            
            
            

                <button class="btn btn-primary btn-lg  mt-3" type="submit">Update assessment</button>
                
            

       
           
        </div>
        
    </div>
   
    
</form>