<div class="table-responsive" data-simplebar style="max-height: 352px;">
    <table class="table mb-0 ">

        
        <tbody class="gilroyregular-type fs-15">
            <tr>
                <th scope="row" style="color:#43B5F4; ">20<br>
                    APR</th>
                <td ><span class="color-color1 d-block">Seminar title</span>
                    <span class="text-uppercase text-white">Crypto trading</span> </td>
                <td><span class="color-color1 d-block">Time</span>
                    <span class="text-white">10.00 AM</span></td>
                <td class="text-end"><span class="color-color1 d-block">Location</span>
                    <a href="#">https://us02web.zoom.us/j/85431030959?pwd=NUpXMytqeTFmUjdx</a></td>
            
            </tr>
            <tr>
                <th scope="row" style="color:#43B5F4 ;">20<br>
                    APR</th>
                <td><span class="color-color1 d-block">Seminar title</span>
                    <span class="text-uppercase text-white">Crypto trading</span> </td>
                <td><span class="color-color1 d-block">Time</span>
                    <span class="text-white">10.00 AM</span></td>
                <td class="text-end"><span class="color-color1 d-block">Location</span>
                    <a href="#">https://us02web.zoom.us/j/85431030959?pwd=NUpXMytqeTFmUjdx</a></td>
            
            </tr>
          


        </tbody>
    </table>

    <div class="d-flex justify-content-end mt-4 ">

        <button type="button" class="btn bg-soft-green text-white me-2 btn-lg me-3 rounded-2" >Register for webinar</button>
        <button type="button" class="btn btn-outline-light text-white me-2 btn-lg rounded-2" >Send reminder</button>
    </div>
</div>

