<!--Popup -->
<div class="modal fade bs-example-modal-not" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-md " style="z-index: 10555;">
        <div class="modal-content bg-soft-white bg-white
        ">
            <div class="modal-header border-0" style="background-color: rgba(255,66,41,0.1) ;">
                <h5 class="modal-title " style="color:#FF2950 !important; font-size: 24px">Important notice</h5>

                <a data-bs-dismiss="modal" aria-label="Close" href="">

                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.93408 16.0653L16.0657 9.93359" stroke="#1B2A57" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M16.0657 16.0653L9.93408 9.93359" stroke="#1B2A57" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round" />
                        <path
                            d="M9.75008 23.8327H16.2501C21.6667 23.8327 23.8334 21.666 23.8334 16.2493V9.74935C23.8334 4.33268 21.6667 2.16602 16.2501 2.16602H9.75008C4.33341 2.16602 2.16675 4.33268 2.16675 9.74935V16.2493C2.16675 21.666 4.33341 23.8327 9.75008 23.8327Z"
                            stroke="#1B2A57" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>



                </a>
            </div>

            <div class="modal-body">

                <div class="row">

                    <div class=" col-lg-12 ">

                        <img src="https://trustcapitaltc.eu/home_new/images/tccolorlogo.png" alt="" class="py-3"
                            width="190">

                        <p style="font-size: 16px;color:#1E1F30">It has come to our attention that fraudulent websites
                            impersonating our business are circulating. We would like to inform our customers that
                            <span style="color:#06BE59!important ;">Trust Capital TC LTD</span> with trade name
                            <span>'Trust Capital'</span> holding license number 369/18 does
                            not use any other websites except our official website which is www.trustcapitaltc.eu and we
                            kindly ask our clients to trust only this website that Trust Capital TC offers its services.
                            In case you receive any other communication that is linked to any other domain, please
                            contact us for confirmation,
                            at <a href="" style="color:#06BE59!important ;">+357 25378899</a> or by email at <a href=""
                                style="color:#06BE59!important ;">info@trustcapitaltc.eu</a>
                        </p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>