<!--Popup salesperfomance-->
<div class="modal fade bs-example-modal-salesperfomance" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-xl " style="z-index: 10555;">
        <div class="modal-content bg-soft-white">
            <div class="modal-header border-0">
                <h5 class="modal-title fs-28">Top performers of the month</h5>
                <a data-bs-dismiss="modal" aria-label="Close">

                    <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.6982 17.3017L17.3016 10.6984" stroke="#141527" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M17.3016 17.3017L10.6982 10.6984" stroke="#141527" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round" />
                        <path
                            d="M10.5002 25.6667H17.5002C23.3335 25.6667 25.6668 23.3334 25.6668 17.5V10.5C25.6668 4.66671 23.3335 2.33337 17.5002 2.33337H10.5002C4.66683 2.33337 2.3335 4.66671 2.3335 10.5V17.5C2.3335 23.3334 4.66683 25.6667 10.5002 25.6667Z"
                            stroke="#141527" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>


                </a>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="col-lg-7">

                        <div class="row">

                            <div class="col-xl-6  col-md-6">
                                <!-- card -->
                                <div class="card card-h-100">
                                    <!-- card body -->
                                    <div class="card-body">
                                        <div class="d-flex flex-wrap align-items-center mb-4">
                                            <h5 class="card-title me-2 almarenamonolight-type fs-20">Funded accounts
                                            </h5>
                                        </div>

                                        <div data-simplebar style="max-height: 320px ;">


                                            <!--Sale Person-->
                                            <div class="d-flex align-items-center mb-3">
                                                <div class="flex-shrink-0 me-3">
                                                    <img class="rounded-circle avatar-sm"
                                                        src="assets/images/users/avatar-3.jpg"
                                                        alt="Generic placeholder image">
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h5 class="gilory-medium-type fs-18 color-black">Michelle</h5>

                                                </div>
                                                <span
                                                    class="badge  rounded-pill fs-16 gilory-semibold-type text-success"
                                                    style="background-color:
                                                rgba(33, 150, 83, 0.2) ;">04</span>
                                            </div>

                                            <!--Sale Person-->
                                            <div class="d-flex align-items-center mb-3">
                                                <div class="flex-shrink-0 me-3">
                                                    <img class="rounded-circle avatar-sm"
                                                        src="assets/images/users/avatar-3.jpg"
                                                        alt="Generic placeholder image">
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h5 class="gilory-medium-type fs-18 color-black">Michelle</h5>

                                                </div>
                                                <span class="badge  rounded-pill fs-16 gilory-semibold-type text-danger"
                                                    style="background-color:
                                                rgba(255, 124, 72, 0.2) ;">04</span>
                                            </div>

                                            <!--Sale Person-->
                                            <div class="d-flex align-items-center mb-3">
                                                <div class="flex-shrink-0 me-3">
                                                    <img class="rounded-circle avatar-sm"
                                                        src="assets/images/users/avatar-3.jpg"
                                                        alt="Generic placeholder image">
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h5 class="gilory-medium-type fs-18 color-black">Michelle</h5>

                                                </div>
                                                <span class="badge  rounded-pill fs-16 gilory-semibold-type text-info"
                                                    style="background-color:
                                                rgba(27, 169, 234, 0.2) ;">04</span>
                                            </div>

                                        </div>




                                    </div>











                                </div><!-- end card body -->
                            </div>
                            <div class="col-xl-6  col-md-6">
                                <!-- card -->
                                <div class="card card-h-100">
                                    <!-- card body -->
                                    <div class="card-body">
                                        <div class="d-flex flex-wrap align-items-center mb-4">
                                            <h5 class="card-title me-2 almarenamonolight-type fs-20">Live accounts</h5>
                                        </div>

                                        <div data-simplebar style="max-height: 320px ;">


                                            <!--Sale Person-->
                                            <div class="d-flex align-items-center mb-3">
                                                <div class="flex-shrink-0 me-3">
                                                    <img class="rounded-circle avatar-sm"
                                                        src="assets/images/users/avatar-3.jpg"
                                                        alt="Generic placeholder image">
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h5 class="gilory-medium-type fs-18 color-black">Michelle</h5>

                                                </div>
                                                <span
                                                    class="badge  rounded-pill fs-16 gilory-semibold-type text-success"
                                                    style="background-color:
                                                rgba(33, 150, 83, 0.2) ;">04</span>
                                            </div>

                                            <!--Sale Person-->
                                            <div class="d-flex align-items-center mb-3">
                                                <div class="flex-shrink-0 me-3">
                                                    <img class="rounded-circle avatar-sm"
                                                        src="assets/images/users/avatar-3.jpg"
                                                        alt="Generic placeholder image">
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h5 class="gilory-medium-type fs-18 color-black">Michelle</h5>

                                                </div>
                                                <span class="badge  rounded-pill fs-16 gilory-semibold-type text-danger"
                                                    style="background-color:
                                                rgba(255, 124, 72, 0.2) ;">04</span>
                                            </div>

                                            <!--Sale Person-->
                                            <div class="d-flex align-items-center mb-3">
                                                <div class="flex-shrink-0 me-3">
                                                    <img class="rounded-circle avatar-sm"
                                                        src="assets/images/users/avatar-3.jpg"
                                                        alt="Generic placeholder image">
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h5 class="gilory-medium-type fs-18 color-black">Michelle</h5>

                                                </div>
                                                <span class="badge  rounded-pill fs-16 gilory-semibold-type text-info"
                                                    style="background-color:
                                                rgba(27, 169, 234, 0.2) ;">04</span>
                                            </div>

                                        </div>




                                    </div>











                                </div><!-- end card body -->
                            </div>
                            <div class="col-xl-6  col-md-6">
                                <!-- card -->
                                <div class="card card-h-100">
                                    <!-- card body -->
                                    <div class="card-body">
                                        <div class="d-flex flex-wrap align-items-center mb-4">
                                            <h5 class="card-title me-2 almarenamonolight-type fs-20">Live accounts</h5>
                                        </div>

                                        <div data-simplebar style="max-height: 320px ;">


                                            <!--Sale Person-->
                                            <div class="d-flex align-items-center mb-3">
                                                <div class="flex-shrink-0 me-3">
                                                    <img class="rounded-circle avatar-sm"
                                                        src="assets/images/users/avatar-3.jpg"
                                                        alt="Generic placeholder image">
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h5 class="gilory-medium-type fs-18 color-black">Michelle</h5>

                                                </div>
                                                <span
                                                    class="badge  rounded-pill fs-16 gilory-semibold-type text-success"
                                                    style="background-color:
                                                rgba(33, 150, 83, 0.2) ;">04</span>
                                            </div>

                                            <!--Sale Person-->
                                            <div class="d-flex align-items-center mb-3">
                                                <div class="flex-shrink-0 me-3">
                                                    <img class="rounded-circle avatar-sm"
                                                        src="assets/images/users/avatar-3.jpg"
                                                        alt="Generic placeholder image">
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h5 class="gilory-medium-type fs-18 color-black">Michelle</h5>

                                                </div>
                                                <span class="badge  rounded-pill fs-16 gilory-semibold-type text-danger"
                                                    style="background-color:
                                                rgba(255, 124, 72, 0.2) ;">04</span>
                                            </div>

                                            <!--Sale Person-->
                                            <div class="d-flex align-items-center mb-3">
                                                <div class="flex-shrink-0 me-3">
                                                    <img class="rounded-circle avatar-sm"
                                                        src="assets/images/users/avatar-3.jpg"
                                                        alt="Generic placeholder image">
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h5 class="gilory-medium-type fs-18 color-black">Michelle</h5>

                                                </div>
                                                <span class="badge  rounded-pill fs-16 gilory-semibold-type text-info"
                                                    style="background-color:
                                                rgba(27, 169, 234, 0.2) ;">04</span>
                                            </div>

                                        </div>




                                    </div>











                                </div><!-- end card body -->
                            </div>
                            <div class="col-xl-6  col-md-6">
                                <!-- card -->
                                <div class="card card-h-100">
                                    <!-- card body -->
                                    <div class="card-body">
                                        <div class="d-flex flex-wrap align-items-center mb-4">
                                            <h5 class="card-title me-2 almarenamonolight-type fs-20">Live accounts</h5>
                                        </div>

                                        <div data-simplebar style="max-height: 320px ;">


                                            <!--Sale Person-->
                                            <div class="d-flex align-items-center mb-3">
                                                <div class="flex-shrink-0 me-3">
                                                    <img class="rounded-circle avatar-sm"
                                                        src="assets/images/users/avatar-3.jpg"
                                                        alt="Generic placeholder image">
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h5 class="gilory-medium-type fs-18 color-black">Michelle</h5>

                                                </div>
                                                <span
                                                    class="badge  rounded-pill fs-16 gilory-semibold-type text-success"
                                                    style="background-color:
                                                rgba(33, 150, 83, 0.2) ;">04</span>
                                            </div>

                                            <!--Sale Person-->
                                            <div class="d-flex align-items-center mb-3">
                                                <div class="flex-shrink-0 me-3">
                                                    <img class="rounded-circle avatar-sm"
                                                        src="assets/images/users/avatar-3.jpg"
                                                        alt="Generic placeholder image">
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h5 class="gilory-medium-type fs-18 color-black">Michelle</h5>

                                                </div>
                                                <span class="badge  rounded-pill fs-16 gilory-semibold-type text-danger"
                                                    style="background-color:
                                                rgba(255, 124, 72, 0.2) ;">04</span>
                                            </div>

                                            <!--Sale Person-->
                                            <div class="d-flex align-items-center mb-3">
                                                <div class="flex-shrink-0 me-3">
                                                    <img class="rounded-circle avatar-sm"
                                                        src="assets/images/users/avatar-3.jpg"
                                                        alt="Generic placeholder image">
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h5 class="gilory-medium-type fs-18 color-black">Michelle</h5>

                                                </div>
                                                <span class="badge  rounded-pill fs-16 gilory-semibold-type text-info"
                                                    style="background-color:
                                                rgba(27, 169, 234, 0.2) ;">04</span>
                                            </div>

                                        </div>




                                    </div>











                                </div><!-- end card body -->
                            </div>


                        </div>





                    </div>
                    <div class=" col-lg-5 d-flex align-items-center ">

                        <img src="assets/images/sales/perfomance-bg.png" alt="" class="w-100">
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>