
 <!--Popup common facebook-->
<div class="modal fade bs-example-modal-facebook" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered"   style="z-index: 10555;">
        <div class="modal-content">
            <div class="modal-header border-0">
                <!--<h5 class="modal-title fs-21">@title</h5>-->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                                        
            <div class="modal-body" >


                <div data-simplebar style="max-height: 230px;">

                     <!--User-->
                <div class="d-flex align-items-center  border-bottom py-3">
                    
                    <div class="flex-shrink-0 me-3">
                        <div class="avatar-sm align-self-center">
                            <span class="avatar-title rounded-circle bg-soft-primary text-primary">
                                J
                            </span>
                        </div>
                    </div>
                    <div class="flex-grow-1">
                        <h6 class="mb-0">James Lemire</h6>
                        <!--<div class="font-size-13 text-muted">
                            <p class="mb-1">It will seem like simplified English.</p>
                            <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span>1 hour ago</span></p>
                        </div>-->
                    </div>
                </div>
                <!--User-->
                <div class="d-flex align-items-center  border-bottom py-3">
                    
                    <div class="flex-shrink-0 me-3">
                        <div class="avatar-sm align-self-center">
                            <span class="avatar-title rounded-circle bg-soft-primary text-primary">
                                J
                            </span>
                        </div>
                    </div>
                    <div class="flex-grow-1">
                        <h6 class="mb-0">James Lemire</h6>
                        <!--<div class="font-size-13 text-muted">
                            <p class="mb-1">It will seem like simplified English.</p>
                            <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span>1 hour ago</span></p>
                        </div>-->
                    </div>
                </div>

                <!--User-->
                <div class="d-flex align-items-center  border-bottom py-3">
                    
                    <div class="flex-shrink-0 me-3">
                        <div class="avatar-sm align-self-center">
                            <span class="avatar-title rounded-circle bg-soft-primary text-primary">
                                J
                            </span>
                        </div>
                    </div>
                    <div class="flex-grow-1">
                        <h6 class="mb-0">James Lemire</h6>
                        <!--<div class="font-size-13 text-muted">
                            <p class="mb-1">It will seem like simplified English.</p>
                            <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span>1 hour ago</span></p>
                        </div>-->
                    </div>
                </div>

                <!--User-->
                <div class="d-flex align-items-center  border-bottom py-3">
                    
                    <div class="flex-shrink-0 me-3">
                        <div class="avatar-sm align-self-center">
                            <span class="avatar-title rounded-circle bg-soft-primary text-primary">
                                J
                            </span>
                        </div>
                    </div>
                    <div class="flex-grow-1">
                        <h6 class="mb-0">James Lemire</h6>
                        <!--<div class="font-size-13 text-muted">
                            <p class="mb-1">It will seem like simplified English.</p>
                            <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span>1 hour ago</span></p>
                        </div>-->
                    </div>
                </div>

                <!--User-->
                <div class="d-flex align-items-center  border-bottom py-3">
                    
                    <div class="flex-shrink-0 me-3">
                        <div class="avatar-sm align-self-center">
                            <span class="avatar-title rounded-circle bg-soft-primary text-primary">
                                J
                            </span>
                        </div>
                    </div>
                    <div class="flex-grow-1">
                        <h6 class="mb-0">James Lemire</h6>
                        <!--<div class="font-size-13 text-muted">
                            <p class="mb-1">It will seem like simplified English.</p>
                            <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span>1 hour ago</span></p>
                        </div>-->
                    </div>
                </div>

                </div>
               
            </div>
        </div>
    </div>
</div>