<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <div class="d-flex">
                
                    <h4 class="mb-sm-0 fs-23 almarenamonolight-type" style="width: 300px;">@@title</h4>
                    <input type="search" id="ticketno" class="py-1 form-control border-0" placeholder="Ticket No">
              
            </div>
          
            
            <div class="ms-auto flex-shrink-0">Heloo</div>

        </div>
    </div>
</div>
<!-- end page title -->