<form class="needs-validation pt-3" novalidate="" id="action-call">
    <div class="row">
        <div class="col-md-12">
            <div class="mb-3">
                <label class="form-label" for="lang">English</label>
                <select class="form-select" id="lang" value="English" required="">
                    <option value="Busy"> English</option>
                    <option value="Busy">French</option>
                </select>
                <div class="invalid-feedback">
                    Please provide a valid entry.
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-3">
                <label class="form-label" for="templates">Templates</label>
                <select class="form-select" id="templates" value="" required="">
                    <option value="Mobile trading">Mobile trading</option>
                    <option value="Mobile trading">Mobile trading</option>
                </select>
                
                <div class="invalid-feedback">
                    Please provide a valid entry.
                </div>
            </div>
        </div>
    </div>
   
    <button class="btn btn-primary btn-lg mt-3" type="submit">Send Email</button>
</form>