<div class="table-responsive mx-3 my-2" data-simplebar style="max-height: 352px;">
    <table class="table mb-0 ">

        <thead>
            <tr class="almarenamonolight-type fs-12">
                <th>
                    
                        <span>User Name</span>

                    </div>
                    </th>
                <th>Ticket</th>
                <th>Phone1</th>
                <th>Phone2</th>
                <th>Email</th>
                <th>&nbsp;</th>
                <th class="text-end">&nbsp;</th>
            </tr>
        </thead>
        <tbody class="gilroyregular-type fs-15 text-white" style="vertical-align:middle ;">
            <tr>
                <th scope="row">
                    <div class="d-flex my-1 ms-2 align-items-center">
                        <div class="activity-icon avatar-sm me-3">
                            <span class="avatar-title   rounded-circle">
                                <!--<i class="bx bx-bitcoin font-size-24"></i>-->
                                <img class="rounded-circle avatar-md" src="assets/images/users/firasmonzer.png" alt="">
                            </span>
                        </div>
                    Firas Monzer</th>
                <td>950060</td>
                <td>+963123456789</td>
                <td>+963123456789</td>
                <td>alhomsi.amr@gmail.com</td>
                <td  class="text-success"><a href="" style="color: 
                    rgba(114, 212, 171, 1);">View ticket</a></td>
                <td class="text-end"><a href="" style="color:rgba(85, 206, 215, 1) ;">View n merge</a></td>
            </tr>
          
           

           



        </tbody>
    </table>
</div>