<div class="table-responsive" data-simplebar style="max-height: 352px;">
    <table class="table mb-0 ">

        <thead>
            <tr class="almarenamonolight-type fs-14">
                <th>Id</th>
                <th>Date</th>
                <th>Time</th>
                <th>Location</th>
                <th>Purpose</th>
                <th>Feedback</th>
                <th class="text-end">Status</th>
            </tr>
        </thead>
        <tbody class="gilroyregular-type fs-15">
            <tr>
                <th scope="row">02</th>
                <td>26-05-2022</td>
                <td>13:00</td>
                <td>TC Limitted office</td>
                <td>Introduce</td>
                <td>Test</td>
                <td class="text-end">77</td>
            </tr>
            <tr>
                <th scope="row">02</th>
                <td>26-05-2022</td>
                <td>13:00</td>
                <td>TC Limitted office</td>
                <td>Introduce</td>
                <td>Test</td>
                <td class="text-end">77</td>
            </tr>

            <tr>
                <th scope="row">02</th>
                <td>26-05-2022</td>
                <td>13:00</td>
                <td>TC Limitted office</td>
                <td>Introduce</td>
                <td>Test</td>
                <td class="text-end">77</td>
            </tr>


            <tr>
                <th scope="row">02</th>
                <td>26-05-2022</td>
                <td>13:00</td>
                <td>TC Limitted office</td>
                <td>Introduce</td>
                <td>Test</td>
                <td class="text-end">77</td>
            </tr>


            <tr>
                <th scope="row">02</th>
                <td>26-05-2022</td>
                <td>13:00</td>
                <td>TC Limitted office</td>
                <td>Introduce</td>
                <td>Test</td>
                <td class="text-end">77</td>
            </tr>


            <tr>
                <th scope="row">02</th>
                <td>26-05-2022</td>
                <td>13:00</td>
                <td>TC Limitted office</td>
                <td>Introduce</td>
                <td>Test</td>
                <td class="text-end">77</td>
            </tr>


            <tr>
                <th scope="row">02</th>
                <td>26-05-2022</td>
                <td>13:00</td>
                <td>TC Limitted office</td>
                <td>Introduce</td>
                <td>Test</td>
                <td class="text-end">77</td>
            </tr>


            <tr>
                <th scope="row">02</th>
                <td>26-05-2022</td>
                <td>13:00</td>
                <td>TC Limitted office</td>
                <td>Introduce</td>
                <td>Test</td>
                <td class="text-end">77</td>
            </tr>


            <tr>
                <th scope="row">02</th>
                <td>26-05-2022</td>
                <td>13:00</td>
                <td>TC Limitted office</td>
                <td>Introduce</td>
                <td>Test</td>
                <td class="text-end">77</td>
            </tr>


        </tbody>
    </table>
</div>