<form class="needs-validation pt-3" novalidate="" id="action-assessment">
    <div class="row">
        <!--rowX-->
        <div class="col-md-6">
            <div class="mb-3">

                 <div class="form-check">
                     <input type="checkbox" class="form-check-input" id="experience">
                     <label class="form-check-label " for="experience">Previous Trading Experience</label>
                 </div>
             </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
               
                <select class="form-select" id="experienceselect" value="" required="">
                    <option value="No experince">No experince</option>
                    <option value="2">2</option>
                </select>
                
                <div class="invalid-feedback">
                    Please provide a valid entry.
                </div>
            </div>
        </div>
        <!--rowXEnd-->

        <!--rowX-->
        <div class="col-md-6">
            <div class="mb-3">

                 <div class="form-check">
                     <input type="checkbox" class="form-check-input" id="meeting">
                     <label class="form-check-label" for="meeting">Meeting</label>
                 </div>
             </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
               
                <select class="form-select" id="meetingselect" value="" required="">
                    <option value="Meeting near">Meeting near</option>
                    <option value="2">2</option>
                </select>
                
                <div class="invalid-feedback">
                    Please provide a valid entry.
                </div>
            </div>
        </div>
        <!--rowXEnd-->

        <!--rowX-->
        <div class="col-md-6">
            <div class="mb-3">

                 <div class="form-check">
                     <input type="checkbox" class="form-check-input" id="forex">
                     <label class="form-check-label" for="forex">Has Sound Knowledge About Forex</label>
                 </div>
             </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
               
                <select class="form-select" id="forexselect" value="" required="">
                    <option value="Yes">Yes</option>
                    <option value="2">2</option>
                </select>
                
                <div class="invalid-feedback">
                    Please provide a valid entry.
                </div>
            </div>
        </div>
        <!--rowXEnd-->

        <!--rowX-->
        <div class="col-md-6">
            <div class="mb-3">

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="questions">
                        <label class="form-check-label" for="questions">Asks Questions Over the Phone</label>
                    </div>
                </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
               
                <select class="form-select" id="questionsselect" value="" required="">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
                
                <div class="invalid-feedback">
                    Please provide a valid entry.
                </div>
            </div>
        </div>
        <!--rowXEnd-->

        <!--rowX-->
        <div class="col-md-6">
            <div class="mb-3">

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="voice">
                        <label class="form-check-label" for="voice">Analyzing his voice</label>
                    </div>
                </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                
                <select class="form-select" id="voiceselect" value="" required="">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
                
                <div class="invalid-feedback">
                    Please provide a valid entry.
                </div>
            </div>
        </div>
        <!--rowXEnd-->

        <!--rowX-->
      
       
        <div class="col-md-6">
            <div class="mb-3">

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="training">
                        <label class="form-check-label" for="training">Interested in Training / Seminar</label>
                    </div>
                </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="hedging">
                        <label class="form-check-label" for="hedging">Trading/Hedging</label>
                    </div>
                </div>
        </div>
        <!--rowXEnd-->

        <!--rowX-->
        <div class="col-md-6">
            <div class="mb-3">

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="profession">
                        <label class="form-check-label" for="profession">Related Job / Profession</label>
                    </div>
                </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="profession">
                        <label class="form-check-label" for="profession">Related Job / Profession</label>
                    </div>
                </div>
        </div>
        <!--rowXEnd-->
         <!--rowX-->
        
        <div class="col-md-12">
            <div class="mb-3">

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="highlypotential">
                        <label class="form-check-label" for="highlypotential">He is a reference, we know he is trader or highly potential</label>
                    </div>
                </div>
        </div>
        <!--rowXEnd-->
        <hr class="pt-0">
        <div class="col-md-6">
            <div class="mb-3">
                <p class="gilory-medium-type fs-22">Total score 75 Points</p>
            </div>
            
        </div> 
    </div>
   
    <button class="btn btn-primary btn-lg mt-3" type="submit">Save</button>
</form>