<form class="needs-validation pt-3" novalidate="" id="action-call">
    <div class="row">
       
        
            <div class="col-md-12">
                <div class="mb-3">
                    <label class="form-label " for="Webinarlevel">Webinar level</label>
                    <select class="form-select" id="Webinarlevel" value="" required="">
                        <option value="Webinarlevel">Webinarlevel</option>
                        <option value="Mobile trading">Webinarlevel</option>
                    </select>
                    
                    <div class="invalid-feedback">
                        Please provide a valid entry.
                    </div>
                </div>
            </div>
            <div class="col-md-12">

                <div class="mb-3">
                    <label class="form-label " for="datepicker">Date</label>
                    
                    <input type="text" class="form-control" id="datepickerwebinar">
                    <div class="invalid-feedback">
                        Please provide a valid entry.
                    </div>
                </div>

                


            </div>
            <div class="col-md-12">
                <div class="mb-3">
                    <label class="form-label " for="time">Time</label>
                    <input type="text" id="timepickerweb"  class="form-control">
                    
                    <div class="invalid-feedback">
                        Please provide a valid entry.
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="mb-3">
                    <label class="form-label " for="description">Description</label>
                    <textarea name="" id="description" cols="30" rows="5" class="form-control"></textarea>
                    
                    <div class="invalid-feedback">
                        Please provide a valid entry.
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="mb-3">
                    <label class="form-label " for="createlink">Create link</label>
                    <input class="form-control" id="createlink" value="" required="">
                       
                    
                    <div class="invalid-feedback">
                        Please provide a valid entry.
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <button class="btn btn-primary btn-lg my-3 " type="submit">Submit form</button>
            
            </div>
            
           
           
           
        
        
    </div>
   
    
</form>